* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: purple;
  background: #d1add1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(221, 221, 221);
  outline: purple;
}

hr {
  border: 1px solid #ad1414;
  margin-bottom: 25px;
}

/* Style for all buttons */
button {
  background-color: purple;
  color: orange;
  padding: 14px 20px;
  margin: 8px 0;
  border: black;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}


.img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



@media screen and (max-width: 300px) {
 .signupbtn {
    width: 100%;
  }
}
